@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Geist Pixel", sans-serif;
    color: #fff;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.986rem;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-group {
    padding: 1em 4em;
}

button {
    padding: 1em 2em;
    font-family: inherit;
    color: #000;
    background-color: yellow;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

button:disabled {
    background-color: #eee;
    cursor: not-allowed;
}

h2 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

#card-table {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.deck {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.deck-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deck-value {
    padding: 0.5em;
    color: #000;
    background-color: yellow;
    border-radius: 4px;
}

.card-img {
    width: 100px;
}

.score-board {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.score-item {
    padding: 0.5em 1em;
    color: #000;
    background-color: yellow;
    border-radius: 4px;
    text-align: center;
}