@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Geist Mono", sans-serif;
    color: #fff;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1em 2em;
    border-bottom: 1px solid #272727;
}

main {
    height: 100%;
    display: flex;

}

h1, h2, h3 {
    line-height: 1;
    font-weight: 400;
    text-transform: lowercase;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1rem;
}

button {
    padding: 16px 32px;
    font-family: inherit;
    font-size: 1.25rem;
    text-transform: lowercase;
    color: #000;
    background-color: rgb(255, 242, 117);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    color: #999;
    background-color: #333;
}

.rules {
    width: 320px;
    border-right: 1px solid #272727;
}

.rules-item {
    padding: 1em 2em;
    border-bottom: 1px solid #272727;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.rules-item p {
    font-size: 0.8rem;
    line-height: 1.4;
    color: #999;
}

/* —— Hand —— */

.board {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board-top {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#card-table {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#result {
    font-size: 1.25rem;
}

.hand {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hand-top {
    display: flex;
    align-items: first baseline;
    gap: 0.75em;
}

.score {
    color: rgb(255, 242, 117);
}

.hand-bottom {
    display: flex;
    gap: 1em;
}

.hand-cards {
    display: flex;
    gap: 0.25em;
}


.card-img {
    height: 160px;
}

.hand-value {
    font-size: 1.563rem;
}

.fake-card {
    background-color: #999;
    height: 160px;
    width: 120px;
    border-radius: 8px;
}